:root {
    --color-kenzie-primary: #00356B;
    --color-border-dark: #C7CDD1;
    --color-background: #F5F5F5;
    --color-dark: #2D3B45;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--color-kenzie-primary);
}

.stepBody {
    width: 50vw;
    margin: 15px auto;
    padding: 5px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border-dark);
}

.stepBody h2 {
    margin: 2px 0;
    color: var(--color-dark);

}

.stepBody p {
    color: var(--color-dark);
}

.copy {
    margin-bottom: 5px;
}

textarea {
    background-color: var(--color-dark);
    color: #fff;
    overflow: scroll;
    white-space: pre;
    width: 99%;
    resize: none;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

footer {
    padding: 5px;
    background-color: var(--color-background);
    border-top: 1px solid var(--color-border-dark);
    color: var(--color-dark);
    text-align: center;
}